table button {
  width: 100px;
}

.text-es {
  width: 250px;
}

.container-pagination {
  display: flex;
  align-items: baseline;
  ul {
    margin-left: 10px;
  }
}

.select-sport {
  width: 300px;
}
