table button {
  width: 100px;
}

.text-es {
  width: 250px;
}

.container-pagination {
  display: flex;
  align-items: baseline;
  ul {
    margin-left: 10px;
  }
}

.select-sport {
  width: 300px;
}

.backdrop{

  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;

}
