<form  class="emp-form col-md-12" #usuarioForm="ngForm"  >
<div class="form-row ">
  <div class="form-group col-md-12">
    <span>CN:</span>
    <input   name="fcCn" #fcCn="ngModel"
            [(ngModel)]="selectedUsuario.fcCn"
          placeholder="CN" class="form-control" required/>
    <div class="validation-error"
          *ngIf="fcCn.invalid && fcCn.touched">This Field is Required.</div>

  </div>

  <div class="form-group col-md-12">
    <span>UID:</span>
    <input   name="fcUid" #fcUid="ngModel"
            [(ngModel)]="selectedUsuario.fcUid"
            placeholder="UID"
            class="form-control" required/>
    <div class="validation-error"
            *ngIf="fcUid.invalid && fcUid.touched">This Field is Required.</div>

  </div>

  <div class="form-group col-md-12">
    <span>Correo:</span>
    <input   name="fcCorreo" #fcCorreo="ngModel"
            [(ngModel)]="selectedUsuario.fcCorreo"
            placeholder="Correo"
            class="form-control" required/>
    <div class="validation-error"
            *ngIf="fcCorreo.invalid && fcCorreo.touched">This Field is Required.</div>

  </div>

  <div class="form-group col-md-12">
    <label for="options">Grupo:</label>


  <li *ngFor="let grupo of grupoList ; let i = index " class="game-item">
    <input type="checkbox"
             value="grupo.fcIdGrupo"
             [(ngModel)]='grupo.checked'
             name="grupo.checked"
              />
    <span class="game-text">{{grupo.fcDescripcion}}</span>
  </li>
</div>

  <div class="form-group col-md-6">
   <button #btnGuardar [disabled]="!usuarioForm.valid"
          class="btn btn-primary"
          (click) = "onSubmit(usuarioForm)">
          <i class="fa fa-save fa-lg"></i> Guardar
    </button>

  </div>
  <div class="form-group col-md-2 ">
    <button class="btn btn-warning"
            (click)="resetForm()">
        <i class="fa fa-rebel fa-lg"></i> Cancelar
    </button>

   </div>
</div>
</form>
